body, html {
	margin-left: 0px;
	margin-top: 0px;
	font-family: sans-serif;
}
.splash-container {
	background-image: url("../img/wind_t_s.jpg");
	background-size: cover;
}
.pure-menu-horizontal {
    white-space: normal;
}
.project-status {
	color: #00ff00;
}

.mobile-nav-toggle {
	display: none;
}
@media all and (max-width: 56em) {
	.l-box-lrg {
	    margin-top: 5em;
	}
}

